@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}
.slide-up {
    animation: slideUp 0.3s forwards ease-in-out;

}

.slide-down {
    animation: slideDown 0.3s forwards ease-in-out;
}
.bg-skintone {
    background: rgba(246, 243, 241, 0.3);
}
.bg-gradient-custom {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #F6F3F1 55.5%);
}
.bg-white-gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(251, 251, 251, 0.8) 45%, rgba(248, 248, 248, 0.8) 72%, rgba(245, 245, 245, 0.8) 100%);
}
@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

.black {
    color: #1C1B19;
}

@layer components {
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
}


.black40 {
    color: rgba(0, 0, 0, 0.4);
}


.borderblack40 {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.borderblack40:hover, .borderblack40:focus {
    border-color: rgba(0, 0, 0, 1);
    outline: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.little-white {
    background: rgba(255, 255, 255, 0.5);
}

.overflow-hidden {
    transform: translateZ(0);
}


.slick-dots li button:before {
    scale: 2.3;
}


input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    touch-action: manipulation;
    font-size: 16px;
}

.white {
    background: rgba(246, 243, 241, 0.5)
}

.staralign {
    left: calc(25% - 40px);
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}