@tailwind base;
@tailwind components;
@tailwind utilities;

.black {
    color: #1C1B19;
}
.overflow-hidden {
    transform: translateZ(0);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--content-width)));
    }
}
.slick-dots li button:before {
    scale: 2.3;
}
.animate-scroll {
    will-change: transform;
    display: inline-flex;
    animation: scroll var(--animation-duration) linear infinite;
    width: calc(var(--content-width) * var(--repetitions, 3));
}
.white {
    background: rgba(246, 243, 241, 0.5)
}